* {
  margin: 0;
  padding: 0;
}

header, main, footer {
  min-width: 1168px;
}

header {
  background-image: url("images/header-background.jpg");
  background-size: cover;
}

.nav-bar {
  padding-top: 30px;
  height: 50px;
  width: 100%;
}

.nav-bar-wrap, .advantages-txt, .staff-wrap, .about-wrap   {
 max-width: 1168px;
 margin: 0 auto;
 padding: 80px 0;
}

.nav-bar-wrap {
  padding: 0;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #505268;
}

.logo {
  float: left;
}

.logo:hover, button:hover, .fb-ico:hover, .tw-ico:hover, .lkd-ico:hover {
  cursor: pointer;
}

.nav-buttons {
  float: right;
  font-size: 25px;
  text-align: right;
}

.nav-bar li {
  margin-left: 53px;
}

.nav-buttons li, .staff-social ul, li {
	list-style: none;
	display: inline-block;
}

.menu-button {
  font-family: "Raleway", sans-serif;
  color: #c7c7cc;
  font-size: 13px;
  font-weight: 600;
}

p, .position, h6, address {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 22.5px;
  font-size: 14px;
}

a {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

h1 {
  font-family: "Open Sans", sans-serif;
	font-size: 65px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 80px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 22.5px;
  font-weight: 400;
  text-transform: none;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: none;
  color: #000;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
}

.lead-form-txt {
	padding-top: 10%;
	text-align: center;
  max-width: 900px;
  min-height: 500px;
  margin: 0 auto;
}

button {
  margin: 0 auto;
  width: 200px;
  height: 46px;
  background-color: #e84545;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.anchor {
  visibility: hidden;
}

.advantages-txt {
  text-align: center;
}

.advantages-txt::after {
  content:"";
  display:block;
  clear:both;
}

.advantages-tab {
  float: left;
  box-sizing: border-box;
  width: 33.3%;
  height: 214px;;
  text-align: center;
}

.advantages-tab:nth-child(n+4) {
  margin-top: 50px;
}

.advantages-txt p, .staff p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  color: #838a90;
}

.advantages-txt p {
  padding-top: 6px;
  padding-right: 35px;
  padding-left: 35px;
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
  background-image: url(images/spritesheet.png);
  background-repeat: no-repeat;
  width:85px;
  height:75px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.icon1 {
  background-position: -480px -5px;
}

.icon2 {
  background-position: -385px -5px;
}

.icon3 {
  background-position: -195px -5px;
}

.icon4 {
  background-position: -290px -5px;
}

.icon5 {
  background-position: -5px -5px;
}

.icon6 {
  background-position: -100px -5px;
}

.projects-photos-wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.projects-photos {
  position: relative;
  width: 650px;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
}

.overlay h4, .overlay p {
  position: relative;
  text-align: center;
  color: #fff;
  top: 45%;
}

.overlay p {
  text-transform: none;
}

.overlay {
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(247, 63, 62, 0.8);
  width: 100%;
  height: 350px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
}

.projects-photos:hover .overlay {
  opacity: 1;
}

.projects-photos-wrap::after {
  content:"";
  display:block;
  clear:both;
}

.projects-photos  {
  float: left;
  width: 25%;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #fff;
  height: 350px;
}

.projects-photos:hover {
  background-color: #red;
}

.staff-wrap::after {
  content:"";
  display:block;
  clear:both;
}

.staff {
  float: left;
  box-sizing: border-box;
  border: 0;
  max-width: 270px;
  margin-left: 29px;
}

.staff:first-child {
  margin-left: 0;
}

figure {
  margin: 0 auto 20px auto;
}

.staff-position {
  color: #ff4343;
  font-size: 13px;
  text-transform: uppercase;
}

.staff-social {
  height: 40px;
  margin-top: 20px;
}

.staff-social::after {
  content:"";
  display:block;
  clear:both;
}

.staff-fb, .staff-tw, .staff-lkdn  {
  margin-right: 5px;
  float: left;
  width: 40px;
  height: 40px;
}

.staff-fb {
  background-image: url(images/fb-ico.png);
}

.staff-tw {
  background-image: url(images/tw-ico.png);
}

.staff-lkdn {
  background-image: url(images/lkdn-ico.png);
}

.staff-fb a, .staff-tw a, .staff-lkdn a, .share-fb a, .share-tw a, .share-lkd a {
   display: block;
   width: 100%;
   height: 100%;
 }

.footer-wrap {
  background-color: #3a3e64;
}

.about-wrap::after {
  content:"";
  display:block;
  clear:both;
}

.about {
  float: left;
  width:33%;
  text-align: center;
}

.about h4 {
  color: #fff;
}

.about p, address {
  font-size: 14px;
  color: #9698ac;
  margin-top: 20px;
}

address {
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  width: 44%;
}

.about p {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.share-icons {
  margin: 20px auto 0 auto;
  width: 39%;
  height: 40px;
}

.share-fb, .share-tw, .share-lkd {
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 7px;
}

.share-fb {
  background-image: url(images/fb-ico-footer.png);
}

.share-tw {
  background-image: url(images/tw-ico-footer.png);
}

.share-lkd {
  background-image: url(images/lkdn-ico-footer.png);
}

.copyrights {
  background-color: #313455;
  padding: 30px 0 30px 0;
}

.copyrights p {
  color: #76788f;
  text-align: center;
  width: 340px;
  margin: 0 auto;
}

.heart {
  color: #e84545;
  font-size: 18px;
}

.author {
  color: #fff;
}

.author:hover {
  cursor: pointer;
}

/* update */

.download-wrap {
  margin: 80px auto 80px auto;
  width: 50%;
  max-width: 700px;
  text-align: center;
}

.download-wrap button {
width: 226px;
height: 46px
}

.download h3 {
  font-size: 28px;
  color: #2d3033;
}

.download p {
  color: #2d3033;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
